/* Header
  --------------------------*/
$--header-padding: 0 20px !default;

/* Footer
  --------------------------*/
$--footer-padding: 0 20px !default;

/* Main
  --------------------------*/
$--main-padding: 20px !default;
